<div class="sidemenu-container flex-column">
  <div class="menu-container flex-column align-center">
    <img src="assets/images/logo.png" class="logo-img spaced-v-l" alt="Logo">
    <span class="caption">Menu</span>
    <div class="links flex-column spaced-t-l">
      <a class="nav-link" routerLink="home" routerLinkActive="active">
        <mat-icon fontIcon="house"></mat-icon>
      </a>
      <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
        <mat-icon fontIcon="grid_view"></mat-icon>
      </a>
      <a class="nav-link" routerLink="plans" routerLinkActive="active">
        <mat-icon fontIcon="description"></mat-icon>
      </a>
    </div>
  </div>
  <hr>
  <div class="profile-container flex-column align-center spaced-t-m">
    <span class="caption">Profile</span>
    <app-profile *ngIf="auth.user.value"></app-profile>
  </div>
</div>
