<img [src]="user.photoURL ? user.photoURL : 'assets/images/avatar.jpg'" class="avatar spaced-t-l pointer" alt="Avatar"
  [matMenuTriggerFor]="profileMenu">
<mat-menu #profileMenu="matMenu" xPosition="after">
  <div class="flex spaced-h-s align-center">
    <img [src]="user.photoURL ? user.photoURL : 'assets/images/avatar.jpg'" class="avatar" alt="Avatar">
    <div class="flex-column spaced-l-s profile-name">
      <p>{{user.displayName}}</p>
      <p class="caption">{{user.email}}</p>
    </div>
  </div>
  <hr>
  <a mat-menu-item routerLink="settings">Settings</a>
  <hr>
  <a mat-menu-item (click)="signOut()">Logout</a>
</mat-menu>
