<div class="page-container">
  <div class="page-title">
    <h3>Home</h3>
    <p class="caption">Welcome in LifeRunner. Choose on of our plans and start to run!</p>
  </div>
  <div class="content">
    <h3 class="text-center">With LifeRunner you can change your lifestyle!</h3>
    <p>Jogging is a great form of exercise for a number of reasons. First, it is a low-impact activity, which means it
      is easy on the joints and can be done by people of all fitness levels. Second, it is a cardiovascular workout,
      which means it helps to improve heart health and lung function. Third, it can help to burn calories and promote
      weight loss. Fourth, it can improve mood and reduce stress. Overall, jogging is a convenient and effective way to
      improve overall health and wellness.</p>
    <img src="assets/images/home-image.png" class="home-image" alt="Home image">
  </div>
</div>
