<div class="page-container">
  <div class="page-title">
    <h3>Your preparations - 10 weeks plan</h3>
    <p class="caption">Week 3 of 10</p>
  </div>
  <div class="arrows spaced-l-m">
    <mat-icon fontIcon="arrow_circle_left" class="color-primary pointer"></mat-icon>
    <mat-icon fontIcon="arrow_circle_right" class="color-primary pointer"></mat-icon>
  </div>
  <table class="spaced-t-l" mat-table [dataSource]="weekPlan">
    <ng-container matColumnDef="weekday">
      <th mat-header-cell *matHeaderCellDef> Weekday </th>
      <td mat-cell *matCellDef="let element">
        <div class="flex align-center">
          <img [src]="'assets/icons/weekdays/'+element.weekday+'.png'" class="weekday-img" alt="Weekday Icon">
          <span class="spaced-l-s">{{element.weekday}}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd.MM.yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
        <app-status-indicator [message]="element.status"
          [status]="element.status | weekdayStatus"></app-status-indicator>
      </td>
    </ng-container>

    <ng-container matColumnDef="about">
      <th mat-header-cell *matHeaderCellDef> About </th>
      <td mat-cell *matCellDef="let element">
        <div class="flex-column">
          <span>Number of reps: {{element.repsNumber}}</span>
          <span class="caption">{{element.details}} </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell [align]="'right'" *matCellDef="let weekdayTraining">
        <button mat-icon-button [matMenuTriggerFor]="actions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #actions="matMenu">
          <button mat-menu-item (click)="editTraining(weekdayTraining)">
            <mat-icon fontIcon="edit"></mat-icon>
            <span>Update training details</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
